/* line 4, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
body, html {
  box-sizing: border-box; }

/* line 8, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 12, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.clrfx:before, .clrfx:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 17, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.clrfx:after {
  clear: both; }

/* line 19, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.clrfx {
  *zoom: 1; }

/* line 25, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
html, body {
  height: 100%; }

/* line 27, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin: 0;
  width: 100%; }

/* line 39, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.wrap--mxw {
  margin: 0 auto;
  max-width: 80em; }

/* line 44, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.bloc {
  width: 100%; }

/* line 48, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.bloc--50 {
  width: 100%;
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease; }
  @media all and (min-width: 45.625em) {
    /* line 48, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
    .bloc--50 {
      width: 50%; } }

/* line 56, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.bloc--33 {
  width: 100%;
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease; }
  @media all and (min-width: 45.625em) {
    /* line 56, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
    .bloc--33 {
      width: 33.333333%; } }

/* line 64, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.bloc--25 {
  width: 100%;
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease; }
  @media all and (min-width: 45.625em) {
    /* line 64, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
    .bloc--25 {
      width: 25%; } }

/* line 76, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
.bloc--embed {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto; }
  /* line 82, Users/jtuck/Documents/GitHub/site-template/scss/_layout.scss */
  .bloc--embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 10, Users/jtuck/Documents/GitHub/site-template/scss/_content.scss */
img {
  display: block;
  height: auto;
  width: 100%; }

/* line 4, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
:root {
  font-size: 16px; }

@media (min-width: 320px) and (max-width: 1280px) {
  /* line 7, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
  :root {
    font-size: calc( 16px + (22 - 16) * ((100vw - 320px) / (1280 - 320) )); } }

@media (min-width: 1280px) {
  /* line 13, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
  :root {
    font-size: 22px; } }

/* line 21, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
h1 {
  font-size: 300%; }

/* line 23, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
h2 {
  font-size: 250%; }

/* line 25, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
h3 {
  font-size: 200%; }

/* line 41, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
p {
  margin-bottom: 1em; }

/* line 69, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
a {
  text-decoration: none; }

/* line 77, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
.btn {
  background-color: #999999;
  color: white;
  display: table;
  font: 300 100%/1 "Helvetica", helvetica, sans-serif;
  margin: 0 auto;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
  -webkit-transition: all, 0.3s, ease;
  -moz-transition: all, 0.3s, ease;
  -ms-transition: all, 0.3s, ease;
  -o-transition: all, 0.3s, ease;
  transition: all, 0.3s, ease; }
  /* line 87, Users/jtuck/Documents/GitHub/site-template/scss/_type_links.scss */
  .btn:hover {
    background-color: #333333;
    color: white; }

/* line 4, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu {
  position: relative;
  text-align: left;
  width: 100%; }
  /* line 8, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu li {
    list-style-type: none;
    position: relative; }

/* line 14, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu:not(:target) > a:first-of-type,
#menu:target > a:last-of-type {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 80%;
  padding: 1em; }
  /* line 21, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu:not(:target) > a:first-of-type:before,
  #menu:target > a:last-of-type:before {
    content: "\2261 ";
    font-size: 140%;
    position: relative;
    top: 2px; }
  @media all and (min-width: 45.625em) {
    /* line 14, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
    #menu:not(:target) > a:first-of-type,
    #menu:target > a:last-of-type {
      display: none; } }

/* line 32, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
.burger {
  font-family: "Helvetica", helvetica, sans-serif; }

/* line 36, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
.burger:after {
  content: '';
  background-color: white;
  box-shadow: 0 12px 0 white, 0 24px 0 white;
  height: 2px;
  position: absolute;
  width: 40px;
  right: 20px;
  text-indent: -999em;
  top: 26px; }

/* line 48, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu > a {
  display: none; }

/* line 50, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu li {
  list-style-type: none;
  position: relative; }

/* line 55, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu > ul {
  height: auto;
  display: none;
  position: absolute;
  left: 0;
  right: 0; }
  /* line 61, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu > ul li {
    background-color: #F43C00;
    float: none;
    padding: .5em;
    width: 100%;
    text-align: left; }
    @media all and (min-width: 45.625em) {
      /* line 61, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
      #menu > ul li {
        text-align: left; } }
    /* line 72, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
    #menu > ul li a {
      color: white;
      display: block;
      font-size: 80%; }
    /* line 77, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
    #menu > ul li:hover {
      background-color: black; }
  @media all and (min-width: 45.625em) {
    /* line 55, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
    #menu > ul {
      display: block;
      position: relative; } }

/* line 86, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu:target > ul {
  display: block; }

/* line 88, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu li ul {
  position: static; }

/* line 92, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu li:hover ul {
  display: block; }
  @media all and (min-width: 45.625em) {
    /* line 92, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
    #menu li:hover ul {
      position: absolute; } }

/* line 99, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
#menu li ul {
  display: none;
  top: 0;
  left: 0;
  width: 100%; }
  /* line 104, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu li ul li a {
    margin-left: 1em; }

@media all and (min-width: 45.625em) {
  /* line 108, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu > a {
    display: none; }
  /* line 111, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu li {
    position: relative; }
  /* first level */
  /* line 120, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu > ul > li {
    width: 25%;
    height: 100%;
    float: left; }
  /* second level */
  /* line 128, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu li ul {
    display: none;
    position: absolute;
    top: 100%; }
  /* line 133, Users/jtuck/Documents/GitHub/site-template/scss/_nav.scss */
  #menu li:hover ul {
    display: block; } }

/* line 12, Users/jtuck/Documents/GitHub/site-template/scss/_forms.scss */
input[type="text"], input[type="tel"],
input[type="email"], textarea {
  background-color: #ffffff;
  border: 1px solid #F4F4F4;
  color: #666666;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */