.container {
  max-width: 72em;
  margin: 0 auto;
  padding: 1%; }

@media all and (min-width: 36em) {
  .layout-two-column .main {
    float: left;
    padding-right: 2%;
    width: 70%; } }
@media all and (max-width: 36em) {
  .layout-two-column .side {
    clear: both; } }
@media all and (min-width: 36em) {
  .layout-two-column .side {
    float: left;
    padding: 0 0 0 2%;
    width: 30%; } }

.main, .side, .grid-item {
  background-color: rgba(100, 30, 20, 0.2); }

.grid {
  margin: 0 -1%;
  overflow: hidden; }

.grid-item {
  padding: 1% 0; }
  @media all and (min-width: 36em) {
    .grid-item {
      float: left; } }

.one-col .grid-item {
  width: 100%; }

@media all and (min-width: 36em) {
  .two-col > .grid-item {
    float: left;
    width: 50%; }
    .two-col > .grid-item:nth-of-type(odd) {
      clear: left; } }

@media all and (min-width: 36em) {
  .three-col > .grid-item {
    float: left;
    width: 33.333333%; } }

@media all and (min-width: 36em) {
  .four-col > .grid-item {
    float: left;
    width: 25%; } }

@media all and (min-width: 36em) {
  .five-col > .grid-item {
    float: left;
    width: 20%; } }

@media all and (min-width: 36em) {
  .six-col > .grid-item {
    float: left;
    width: 16.666666%; } }

.main, .side, .grid-item {
  background-color: rgba(0, 0, 0, 0.2); }

.cf {
  font-size: 1px;
  line-height: 0;
  clear: both;
  height: 0; }

.cf {
  *zoom: 1; }

.cf:before, .cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

html, body {
  font-family: helvetica, sans-serif;
  font-size: calc(1em + 1vw); }

.clrfx:before, .clrfx:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clrfx:after {
  clear: both; }

.clrfx {
  *zoom: 1; }

.clearfloat {
  font-size: 1px;
  line-height: 0;
  clear: both;
  height: 0; }
