//*  GLOBALS
//*===========================================

body, html {}

* + * {}

.clrfx:before, .clrfx:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clrfx:after { clear: both; }

.clrfx { *zoom: 1; }


.clearfloat {
	font-size: 1px;
	line-height: 0;
	clear: both;
	height: 0;
}