//*  GLOBALS
//*===========================================

body, html {
	box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

* + * {}

.clrfx:before, .clrfx:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clrfx:after { clear: both; }

.clrfx { *zoom: 1; }


//*  STRUCTURE
//*=========================================== 

html, body { height: 100%; }

.container {
	margin: 0 auto;
	padding: 0;
}

@media all and (min-width:$bp-5) {
	.container--mxw {
		max-width: $mxw;
		margin: 0 auto;
		padding: 0;
	}
}

.sctWrap {
	@include flex-p(
		column,
		nowrap,
		flex-start,
		flex-start,
		flex-start
	)
	margin: 0;
}

.sctWrap__mxw {
	margin: 0 auto;
	max-width: $mxw;
}

.sctBloc {
	width: 100%;
}

.sctBloc_50 {
	width: 50%;
}

.sctBloc__33 {
	width: 33.333333%;
}

.sctBloc__25 {
	width: 25%;
}

.main, .side,
.grid-item, footer { 
  background-color: #f8f8f8;
}


//*  THE OLD GRID
//*===========================================

.grid {
	margin: 0;
	overflow: hidden;
}

.grid-item {
  border: 1px solid white;
	padding: $space-half 0;
	@media all and (min-width:$bp-2) {
		float:left;
	}
}

.one-col {
	.grid-item { width: 100%; }
}

.two-col {
	@media all and (min-width:$bp-2) {
		> .grid-item {
			float: left;
			width: 50%;
			&:nth-of-type(odd) { clear: left; }
		}
	}
}

.three-col {
	@media all and (min-width:$bp-2) {
		> .grid-item {
			float: left;
			width: 33.333333%;
		}
	}
}

.four-col {
	@media all and (min-width:$bp-2) {
		> .grid-item {
			float: left;
			width: 25%;
		}
	}
}

.five-col {
	@media all and (min-width:$bp-2) {
		> .grid-item {
			float: left;
			width: 20%;
		}
	}
}

.six-col {
	@media all and (min-width:$bp-2) {
		> .grid-item {
			float: left;
			width: 16.666666%;
		}
	}
}

.main, .side, .grid-item {
	border: 1px solid white;
}


//*  BLOCKS
//*===========================================

.embed-block {
	position: relative;
	padding-bottom: 56.25%;
	overflow: hidden;
	max-width: 100%;
	height: auto;
	iframe { 
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  width: 100%; 
	  height: 100%;
	}
}