//* The SCSS MIXINS for (SITE NAME)

@mixin border-radius($radius) {
	border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}

//*===========================================
//* FLEXBOX
//*===========================================

@mixin flex-align($a_dir, $j_dir, $c-dir) {
	align-items: ($a_dir);
	justify-content: ($j_dir);	
	flex-direction: ($c-dir);
}

@mixin flex-container {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox !important;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-item($width) {
	-webkit-box-flex: auto; 
	-moz-box-flex: auto; 
	width: ($width);
	-ms-flex: auto;
	flex: auto;
}

@mixin flex-order($order) {
	-webkit-box-ordinal-group: $order;
	-moz-box-ordinal-group: $order;  
	-ms-flex-order: $order;
	-webkit-order: $order; 
	order: $order;
}

@mixin hide {
	clear: both !important;
	height: 0 !important;
	margin-top: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	margin-left: 0 !important;
	max-height: 0 !important;
   padding-top: 0 !important;
   padding-right: 0 !important;
   padding-bottom: 0 !important;
   padding-right: 0 !important;
   visibility: hidden !important;
   width: 0 !important;
}

@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property, $transition-time, $method;
	-moz-transition: $transition-property, $transition-time, $method;
	-ms-transition: $transition-property, $transition-time, $method;
	-o-transition: $transition-property, $transition-time, $method;
	transition: $transition-property, $transition-time, $method;
}