//*  MAIN NAV
//*===========================================

#menu { 
  position: relative;
  text-align: left;
  width: 100%;
  li { 
    list-style-type: none;
    position: relative;
  }
}

#menu:not( :target ) > a:first-of-type,
#menu:target > a:last-of-type { 
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 80%;
  padding: 1em;
  &:before {
    content: "\2261 ";
    font-size: 140%;
    position: relative;
    top: 2px;
  }
  @media all and (min-width:$bp-3) {
    display: none;
  }
}

.burger {
  font-family: $fnt-1;
}

.burger:after {
  content: '';
  background-color: white;
  box-shadow: 0 12px 0 white, 0 24px 0 white; 
  height: 2px;
  position: absolute;
  width: 40px;
  right: 20px;
  text-indent: -999em;
  top: 26px;
}

#menu > a { display: none; }

.menu li { 
  list-style-type: none;
  position: relative;
}

.menu > ul {
  height: auto;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  li {
    background-color: $cl-1;
    float: none; 
    padding: .5em;
    width: 100%;
    text-align: left;
    @media all and (min-width:$bp-3) {
//       float: left; 
      text-align: left;
//       width: 25%;
    }
    a {
      color: white;
      display: block;
      font-size: 80%;
    }
    &:hover { background-color: black; }
  }
  @media all and (min-width:$bp-3) {
    display: block;
//     overflow: auto;
    position: relative;
  }
}

#menu:target .menu > ul { display: block; }

.menu li ul { 
  position: static;
}

.menu li:hover ul { 
  display: block;
  @media all and (min-width:$bp-3) {
    position: absolute;
  }
}

.menu li ul {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  li a { margin-left: $space; }
}

@media all and (min-width:$bp-3) {
  .menu > a {
    display: none;
  }
  .menu li {
    position: relative;
  }
 
  /* first level */
 
  .menu > ul {
//     height: 3.75em;
  }
  .menu > ul > li {
    width: 25%;
    height: 100%;
    float: left;
  }
 
  /* second level */
 
  .menu li ul {
    display: none;
    position: absolute;
    top: 100%;
  }
  .menu li:hover ul {
    display: block;
  }
}


//*  SECONDARY NAV
//*===========================================



//*  FOOTER NAV
//*===========================================