//*  STRUCTURE
//*=========================================== 

html, body { height: 100%; }

.content {
	max-width: $max-width;
	margin: 0 auto;
	padding: 0;
}

.layout-two-column {
	.main {
		@media all and (min-width:$bp-36m) {
			float: left;
			padding-right: $pad;
			width: 70%;
		}
	}
	
	.side {
		clear: both;
		@media all and (min-width:$bp-36m) {
			clear: none;
			float: left;
			padding: 0 0 0 $pad;
			width: 30%;
		}
	}
}

.main, .side, .grid-item {}

.main { background-color: #f4f4f4; }

.side { background-color: #f6f6f6; }

footer { background-color: #f8f8f8; }

//*  THE GRID
//*===========================================

.grid {
	margin: 0;
	overflow: hidden;
}

.grid-item {
  border: 1px solid $white;
	padding: $pad-half 0;
	@media all and (min-width:$bp-36m) {
		float:left;
	}
}

.one-col {
	.grid-item { width: 100%; }
}

.two-col {
	@media all and (min-width:$bp-36m) {
		> .grid-item {
			float: left;
			width: 50%;
			&:nth-of-type(odd) { clear: left; }
		}
	}
}

.three-col {
	@media all and (min-width:$bp-36m) {
		> .grid-item {
			float: left;
			width: 33.333333%;
		}
	}
}

.four-col {
	@media all and (min-width:$bp-36m) {
		> .grid-item {
			float: left;
			width: 25%;
		}
	}
}

.five-col {
	@media all and (min-width:$bp-36m) {
		> .grid-item {
			float: left;
			width: 20%;
		}
	}
}

.six-col {
	@media all and (min-width:$bp-36m) {
		> .grid-item {
			float: left;
			width: 16.666666%;
		}
	}
}

.main, .side, .grid-item {
	border: 1px solid $white;
}

//*  MISC
//*===========================================

.cf {
    *zoom: 1;
}
.cf:before, .cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}