<<<<<<< Updated upstream
//* Typeography

html, body { font-family: helvetica, sans-serif; }

* + * { font-size: calc(1em + 1vw); }

//* HEADLINES 
=======
//*  TYPOGRAPHY
//*===========================================

html, body { font-family: helvetica, sans-serif; }

//*  HEADLINES
//*=========================================== 
>>>>>>> Stashed changes

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

<<<<<<< Updated upstream
//* PARAGRAPH ELEMENTS
=======
//*  PARAGRAPH
//*===========================================
>>>>>>> Stashed changes

p {}

em {}

address {}

blockquote {}

code {}

//*  LISTS
//*===========================================

ul {
	li {}
}

ol {
	li {}
}

<<<<<<< Updated upstream
//* SPECIAL CLASSES
=======
//*  SPECIAL CLASSES
//*===========================================
>>>>>>> Stashed changes

.hero-text {}

.lead-in {}

.legal {}