//*  TYPOGRAPHY
//*===========================================

html, body {
	font-family: helvetica, sans-serif;
}

:root { font-size: #{$min-font}px; }

@media (min-width: #{$min-vp-width}px) and (max-width: #{$max-vp-width}px) {
  :root {
    font-size: calc( #{$min-font}px + (#{$max-font} - #{$min-font}) * ((100vw - #{$min-vp-width}px) / (#{$max-vp-width} - #{$min-vp-width}) ));
  }
}

@media (min-width: #{$max-vp-width}px) {
  :root {
    font-size: #{$max-font}px;
  }
}

//*  HEADLINES
//*=========================================== 

h1 { font-size: 300%; }

h2 { font-size: 250%; }

h3 { font-size: 200%; }

h4 {}

h5 {}

h6 {}

.entry-title {}

.headline {}


//*  PARAGRAPH
//*===========================================

p {
  margin-bottom: $space;
}

em {}

address {}

blockquote {}

code {}


//*  LISTS
//*===========================================

ul {
	li {}
}

ol {
	li {}
}


//*  LINKS
//*===========================================

a {
  text-decoration: none;
	&:active {}
	&:focus {}
	&:hover {}
	&:visited {}
}

.btn {
  background-color: $grey-3;
  color: white;
  display: table;
  font: 300 100%/1 $font-1;
  margin: 0 auto;
  padding: $space-half $space;
  text-align: center;
  text-transform: uppercase;
  @include trans(all,0.3s,ease);
  &:hover {
    background-color: $grey-1;
    color: white;
  }
}


//*  SPECIAL CLASSES
//*===========================================

.hero-text {}

.lead-in {}

.legal {}