//* FONTS
//*===========================================

$font-1: 'Helvetica', helvetica, sans-serif;
$font-2: 'Georgia', 'Times', serif;


//*  FONT SCALING
//*===========================================

$min-vp-width: 320;
$max-vp-width: 1280;

$min-font: 16;
$max-font: 24;


//* COLORS
//*===========================================

$cl-1: #F43C00;
$cl-2: #FF580B;
$cl-3: #9293B2;
$cl-4: #8DCC74;

$k: #000000;
$w:	#ffffff;


//* GRAYS
//*===========================================

$gr-1: #333333;          // Darker
$gr-2: #666666;
$gr-3: #999999;
$gr-4: #CCCCCC;
$gr-5: #F4F4F4;          // Lighter


//* MARGIN & PADDING 
//*===========================================

$mxw: 80em;

$space: 1em;
$space-half: $space/2;
$space-qrtr: $space/4;
$space-and-half: $space*1.5;
$space-2x: $space*2;
$space-3x: $space*3;
$space-4x: $space*4;


//* BREAKPOINTS 
//*===========================================

$bp-1: 33.75em;          //* 540px
$bp-2: 40.625em;         //* 650px
$bp-3: 45em;             //* 720px
$bp-4: 52.5em;           //* 840px
$bp-5: 58.75em;          //* 940px
$bp-6: 77.5em;           //* 1240px


//* FROSTING 
//*===========================================

$txt-drop: 0 0 4px rgba(0,0,0,.25);
$box-drop: 0 0 4px rgba(0,0,0,.25);