//* FONTS
//*===========================================

$fnt-1: 'Helvetica', helvetica, sans-serif;
$fnt-2: 'Georgia', 'Times', serif;

//*  FONT SCALING
//*===========================================

$min-vp-width: 320;
$max-vp-width: 1120;

$min-font: 16;
$max-font: 24;

//* COLORS
//*===========================================

$br-clr-1: #0B15FF;
$br-clr-2: #FF580B;
$br-clr-3: #9293B2;
$br-clr-4: #8DCC74;

//* GRAYS
//*===========================================

$clr-1: #333333; // Darker
$clr-2: #666666;
$clr-3: #999999;
$clr-4: #CCCCCC;
$clr-5: #F4F4F4; // Lighter

$black: #000000;
$white: #ffffff;

//* LAYOUT 
//*===========================================

$max-width: 72em;

$marg: 2%;
$marg-and-half: $marg*1.5;
$marg-dbl: $marg*2;
$marg-half: $marg/2;
$marg-qrtr: $marg/4;

$pad: 2%;
$pad-and-half: $pad*1.5;
$pad-dbl: $pad*2;
$pad-half: $pad/2;
$pad-qrtr: $pad/4;

//* BREAKPOINTS -- Primary
//*===========================================

$bp-30m: 30em;						//* 480px
$bp-40m: 40em;						//* 640px
$bp-45m: 45em;						//* 720px
$bp-50m: 50.25em;					//* 840px
$bp-60m: 60em;						//* 960px
$bp-67m: 67.5em;					//* 1080px

//*  BREAKPOINTS -- Secondary
//*===========================================

$bp-36m: 36em;						//* 576px
$bp-82m: 82.5em;					//* 1320px

//* FROSTING 
//*===========================================

$text-shadow: 0 0 4px rgba(0,0,0,.5);
$box-shadow: 0 0 4px rgba(0,0,0,.5);
$opacity: 0.5;