<<<<<<< Updated upstream
//*===========================================
=======
>>>>>>> Stashed changes
//* FONTS
//*===========================================

$font-1: 'Helvetica-Neue', helvetica, sans-serif;
$font-2: 'Georgia', 'Times', serif;
$font-3: 'Courier', monospace;

$font-sm: 80%;
$font-md: 100%;
$font-lg: 120%;

<<<<<<< Updated upstream
//*===========================================
//*  BRAND COLORS
=======
//* COLORS
>>>>>>> Stashed changes
//*===========================================

$brand-color-1: #0B15FF;
$brand-color-2: #FF580B;
$brand-color-3: #9293B2;
$brand-color-4: #8DCC74;

//*===========================================
//* GRAYS
//*===========================================

$color-1: #333333;
$color-2: #666666;
$color-3: #999999;
$color-4: #CCCCCC;
$color-5: #F4F4F4;

$black: #000000;
$white: #ffffff;

//* LAYOUT 
//*===========================================

$max-width: 72em;

$margin: 2%;
$margin-and-half: $margin*1.5;
$margin-double: $margin*2;
$margin-half: $margin/2;
$margin-quarter: $margin/4;

$pad: 2%;
$pad-and-half: $pad*1.5;
$pad-double: $pad*2;
$pad-half: $pad/2;
$pad-quarter: $pad/4;

//* BREAKPOINTS
//*===========================================

$bp-30m: 30em;						//* 480px
$bp-36m: 36em;						//* 576px
$bp-40m: 40em;						//* 640px
$bp-45m: 45em;						//* 720px
$bp-50m: 50.25em;					//* 840px
$bp-60m: 60em;						//* 960px
$bp-67m: 67.5em;					//* 1080px
$bp-82m: 82.5em;					//* 1320px

//* FROSTING 
//*===========================================

$text-shadow: 0 1px 2px rgba(0,0,0,.5);
$box-shadow: 0 1px 2px rgba(0,0,0,.5);
$opacity: 0.5;